<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".TahanApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TahanApp">
        <activity
            android:name=".activity.AssessmentViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChildViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AssessmentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FaqsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HowToUseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AsdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LearningHubModule1Activity"
            android:exported="false" />
        <activity
            android:name=".activity.LearningHubModule2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.LearningHubModule3Activity"
            android:exported="false" />
        <activity
            android:name=".activity.LearningHubModule4Activity"
            android:exported="false" />
        <activity
            android:name=".activity.LearningHubModule5Activity"
            android:exported="false" />
        <activity
            android:name=".activity.LearningHubModule6Activity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>